{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <p>If you must know, I mostly live in my fantasy world.</p>
          <p>I'm lately learning a new skill i.e., Python development to change my career path. I wish the dream come true soon and for good.</p>
          <p>Happy to render this platform to showcase my skills learnt so far.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
